* {
  margin: 0;
  padding: 0;
  font-family: 'Vollkorn', serif;
}

.top-container {
  position: relative;
  background: rgba(0, 0, 0, 0.05);
  height: 90px;
  z-index: 1;
}

.header {
  position: fixed;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 10% 20%;
      grid-template-columns: 70% 10% 20%;
  height: 50px;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-shadow: 0 3px 2px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 2px 0px rgba(0, 0, 0, 0.5);
  background: white;
}

.name {
  padding-left: 20%;
  letter-spacing: 2px;
  font-size: 25px;
}

.s-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 20px;
}

.s-media a {
  text-decoration: none;
  color: black;
}

.s-media a:hover {
  color: #df7284;
}

.resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resume span {
  padding: 8px;
  padding-right: 16px;
  padding-left: 16px;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  -webkit-box-shadow: 0px 0.2px 1px 0.5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0.2px 1px 0.5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-size: 12px;
}

.resume span:hover {
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.links {
  margin: 10px;
  position: relative;
  top: 55px;
}

.links ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.links ul li {
  list-style: none;
  cursor: pointer;
}

.links ul li:hover {
  scale: 1.05;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.body-box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.body-box > div {
  margin-top: 30px;
}

.mid-container {
  margin-left: 100px;
  margin-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 3px 7px 0.5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 7px 0.5px rgba(0, 0, 0, 0.5);
}

.mid-container .box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 305px;
  background: rgba(0, 0, 0, 0.05);
}

.mid-container .box2 img {
  max-height: 200px;
  -webkit-box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.8);
          box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.8);
}

.mid-container .box1 {
  display: inline-block;
  font-size: 20px;
  padding: 40px;
  margin: 5px;
}

.mid-container .button {
  padding: 5px;
  margin-top: 20px;
  background: black;
  border: 1px solid black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  width: 70px;
  height: 20px;
  cursor: pointer;
}

.mid-container .button:hover {
  border: 1px solid black;
  color: black;
  background: white;
}

.parallax {
  height: 100px;
  background-color: #6f08ff;
  background-color: #a4acff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='0' stroke-opacity='0' %3E%3Ccircle fill='%23a4acff' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%239fa7f8' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%239aa2f0' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23959ce8' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%238f96e0' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%238a91d7' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23848ace' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%237e84c5' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23777dbb' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%237176b1' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23696ea6' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%2362669a' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23595d8e' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23505480' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23454870' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23393b5e' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23282a47' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23070624' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.skill {
  margin-left: 100px;
  margin-right: 100px;
  -webkit-box-shadow: 0px 3px 7px 0.5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 7px 0.5px rgba(0, 0, 0, 0.5);
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skill .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.skill .bubble {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(45deg, white, rgba(0, 0, 0, 0.5));
  opacity: .8;
}

.skill p {
  height: 200px;
  width: 50%;
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects {
  margin-left: 100px;
  margin-right: 100px;
  -webkit-box-shadow: 0px 3px 7px 0.5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 7px 0.5px rgba(0, 0, 0, 0.5);
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.projects .bubble {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(45deg, white, rgba(0, 0, 0, 0.5));
  opacity: .8;
}

.projects p {
  height: 200px;
  width: 50%;
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.achievements {
  margin-left: 100px;
  margin-right: 100px;
  -webkit-box-shadow: 0px 3px 7px 0.5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 7px 0.5px rgba(0, 0, 0, 0.5);
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.achievements .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.achievements .bubble {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(45deg, white, rgba(0, 0, 0, 0.5));
  opacity: .8;
}

.achievements p {
  height: 200px;
  width: 50%;
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  height: 200px;
  background: #352279;
  bottom: 0;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.emp {
  height: 180px;
  width: 1px;
  background: white;
}

.contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}

.contact-box a {
  text-decoration: none;
  color: white;
  background: #5721eb;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 0.2px 10px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0.2px 10px 2px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 10px;
  margin-bottom: -10px;
}

.contact-box input[type="submit"] {
  background: #5721eb;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0.2px 10px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0.2px 10px 2px rgba(0, 0, 0, 0.5);
}

.contact-box textarea {
  resize: none;
  -webkit-box-shadow: 0px 0.2px 10px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0.2px 10px 2px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 380px) {
  .top-container {
    width: 380px;
  }
  .header {
    width: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header .name {
    font-size: 14px;
    padding: 0%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .header .s-media a {
    font-size: 12px;
    padding: 3px;
  }
  .header .resume span {
    font-size: 12px;
    padding: 3px;
  }
  .links {
    font-size: 14px;
  }
  .body-box {
    padding: 0;
  }
  .body-box .mid-container {
    width: 340px;
    margin-right: 20px;
    margin-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .body-box .mid-container .box1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    font-size: 16px;
  }
  .body-box .mid-container .box2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 300px;
    padding: 20px;
  }
  .body-box .parallax {
    width: 380px;
  }
  .body-box .skill,
  .body-box .projects,
  .body-box .achievements {
    width: 260px;
    margin-right: 20px;
    margin-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .body-box .skill .box,
  .body-box .projects .box,
  .body-box .achievements .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10;
    margin: 0;
    font-size: 12px;
  }
  .body-box .skill .box .bubble,
  .body-box .projects .box .bubble,
  .body-box .achievements .box .bubble {
    height: 150px;
    width: 150px;
  }
  .body-box .skill .box p,
  .body-box .projects .box p,
  .body-box .achievements .box p {
    padding-left: 0;
    width: 100%;
    text-align: justify;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .contact-box {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 30px;
    margin-bottom: -40px;
  }
  .contact-box a {
    margin-bottom: 10px;
  }
  .emp {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .footer-content {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: -40px;
    margin-bottom: 30px;
    text-align: center;
  }
}
/*# sourceMappingURL=homepage.css.map */
